<div class="game-container">
  <div class="grid-container">
    <div class="grid-row">
      <div class="grid-cell"></div>
      <div class="grid-cell"></div>
      <div class="grid-cell"></div>
      <div class="grid-cell"></div>
    </div>
    <div class="grid-row">
      <div class="grid-cell"></div>
      <div class="grid-cell"></div>
      <div class="grid-cell"></div>
      <div class="grid-cell"></div>
    </div>
    <div class="grid-row">
      <div class="grid-cell"></div>
      <div class="grid-cell"></div>
      <div class="grid-cell"></div>
      <div class="grid-cell"></div>
    </div>
    <div class="grid-row">
      <div class="grid-cell"></div>
      <div class="grid-cell"></div>
      <div class="grid-cell"></div>
      <div class="grid-cell"></div>
    </div>

    <div class="items">

      <div *ngFor="let item of items"
      class="item"
      [ngStyle]= "getStyles(item)">
        <div class="item-title">{{item.value}}</div>
      </div>

      <div class="item" [ngStyle]="{top: '120px', left: '10px', 'background-color': 'yellow'}">
        <div class="item-title">4</div>
      </div>

      <div class="item" [ngStyle]="{top: '10px', left: '120px', 'background-color': 'blue'}">
        <div class="item-title">8</div>
      </div>

    </div>
  </div>
</div>
